<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxtag.mapper.WxUserMapper">

    <resultMap id="BaseResultMap" type="com.wxtag.entity.WxUser">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="open_id" property="openId" jdbcType="VARCHAR"/>
        <result column="union_id" property="unionId" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="INTEGER"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, open_id, union_id, nickname, avatar_url, gender, country, province, city, language, created_at, updated_at
    </sql>

    <select id="selectByOpenId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM wx_user
        WHERE open_id = #{openId}
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM wx_user
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.wxtag.entity.WxUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wx_user (
            open_id, union_id, nickname, avatar_url, gender, country, province, city, language, created_at, updated_at
        ) VALUES (
            #{openId}, #{unionId}, #{nickname}, #{avatarUrl}, #{gender}, #{country}, #{province}, #{city}, #{language}, #{createdAt}, #{updatedAt}
        )
    </insert>

    <update id="updateByOpenId" parameterType="com.wxtag.entity.WxUser">
        UPDATE wx_user
        SET union_id = #{unionId},
            nickname = #{nickname},
            avatar_url = #{avatarUrl},
            gender = #{gender},
            country = #{country},
            province = #{province},
            city = #{city},
            language = #{language},
            updated_at = #{updatedAt}
        WHERE open_id = #{openId}
    </update>

</mapper> 